<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#" >
  <head>
    <title>OpenCounter</title>
    <meta property="og:title" content="OpenCounter" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://open-counter.herokuapp.com/#/" />
    <meta property="og:image" content="https://raw.githubusercontent.com/Droool/OpenCounter/master/app/assets/images/open_counter_default.png" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet">
     <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <% if logged_in? %>
      <script>
        window.currentUser = <%= render(
         "api/users/user.json.jbuilder",
         user: current_user
       ).html_safe %>
      </script>
    <% end%>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
